header {
    background-color: yellow;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.titre {
    margin-left: 10px;
}

.slogan {
    margin-left: 400px;
    vertical-align: 400%;
    font-size: larger;
}
